@import url('https://fonts.googleapis.com/css2? family= Oswald:wght@300;400 & display=swap');



body{
    margin: 0;
    font-family: 'Oswald';
    
}

#meio{
  height: 5.5em;
  line-height: 6em;
  min-height: 40px;
  background-color: rgb(66, 31, 31);
  

 
}
#meio a{
    color: aliceblue;
    padding: 220px;
    font-size: 22px;
    text-decoration: none ;
    margin: 0;
    padding-top: 5%;
    text-align: center;
}
#meio img{
    float: left;
    width: 60px;
    height: 60px;
    margin: 1%;
}
#meio a:hover{
    color: rgb(128, 115, 115);
}



#principal{
    color: rgb(6, 6, 6);
    padding-top: 32%;   
    background-image: url('imagem.css/CAFÉ\ CENTRAL\ \(1\).png');
    background-size: 100%;
    opacity: 88%;
    text-align: center;
    
}
#principal h1{
    margin: 0;
    padding-top: 5%;
    text-align: center;
    margin: 0%;
    font-size: 50px;  
  
}
#principal p{
    margin: 0%;
    font-size: 26px;
    padding-bottom: 95px;
}
#sobre{

    margin-top: 0%;
    padding-bottom: 11%;
    background-color: rgb(136, 88, 25);
    text-align: center;
    opacity: 95%;
    
}
#sobre h1{
    margin: 0;
    padding-top: 5%;
    text-align: center;
    margin: 0%;
    font-size: 50px;  
    padding-bottom: 30px;
}
#sobre p{
    margin: 0%;
    font-size: 23px;  
    padding-bottom: 60px;
}

.sobrefoto{
    float: none;
    width: 30%;
    display:inline-block;
    
}
#penultima{
    padding-bottom: 9.5%;
    background-color: rgb(179, 146, 95);
    display:inline-block;
       
}

#fotos{
   width: 50%;
   float: left; 
   margin-top: 7%;
   margin-left: 5%;

}
#fotos img{
    width: 30%;
    min-width: 20px;
   margin: 1%;
}
#texto button{
    margin-top: 2%;
    margin-left: 7%;
    padding: 2%;
    background-color: rgb(136, 88, 25);
    color: rgb(187, 172, 145);
    font-size: 15px;
}
#texto h1{
    font-size: 38px;
    margin-top: 12%;
    margin-left: 62%;
}
#texto p{  
    font-size: 25px;
    margin-top: 1%;
    margin-left: 62%;
}
footer{
    height: 5.5em;
    line-height: 6em;
    min-height: 40px;
    background-color: rgb(66, 31, 31);
    color: rgb(243, 235, 235);
    font-size: 22px;
    text-align: center;
}